# Verification



**Properties**

| Name | Type | Required | Description |
| :-------- | :----------| :----------| :----------|
    | type | string | ❌ |  |
    | value | string | ❌ |  |


